<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334150569935-fj8k5f7vg187q7hnkrcs6ksrad5ons8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334150569935-fj8k5f7vg187q7hnkrcs6ksrad5ons8s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334150569935-e5p0rorp8miub7kqvq56h2jqir2sls72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAs8zORBTo4wxDIYkBqwOMouvEDobbpec</string>
	<key>GCM_SENDER_ID</key>
	<string>334150569935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wepee.app</string>
	<key>PROJECT_ID</key>
	<string>bathroomfinder-3a36b</string>
	<key>STORAGE_BUCKET</key>
	<string>bathroomfinder-3a36b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334150569935:ios:0cc7045411e043ebd80cba</string>
</dict>
</plist>